1. Create a DataFrame with the following data:  
  


  data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
  }
  
  a. Print the first five rows of the DataFrame.  
  b. Get the summary statistics of the 'Age' and 'Salary' columns.  
  c. Calculate the average salary of employees in the 'HR' department.  


2. Add a new column, 'Bonus', which is 10% of the salary.  


3. Filter the DataFrame to show employees aged between 25 and 30.  


4. Group the data by 'Department' and calculate the average salary for each department.  


5. Sort the DataFrame by 'Salary' in ascending order and save the result to a new CSV file.

In [4]:
import pandas as pd
import numpy as np

In [3]:
data = {
      'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
      'Age': [24, 27, 22, 32, 29],
      'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
      'Salary': [45000, 54000, 50000, 62000, 47000]
  }
df = pd.DataFrame(data)
print(df.head(5))

print("\n",df[['Age', 'Salary']].describe())

avg_hr_salary = df[df['Department'] == 'HR']['Salary'].mean()
print("Average HR Salary:", avg_hr_salary)

      Name  Age Department  Salary
0    Alice   24         HR   45000
1      Bob   27    Finance   54000
2  Charlie   22         IT   50000
3    Diana   32  Marketing   62000
4      Eve   29         HR   47000

              Age        Salary
count   5.000000      5.000000
mean   26.800000  51600.000000
std     3.962323   6730.527468
min    22.000000  45000.000000
25%    24.000000  47000.000000
50%    27.000000  50000.000000
75%    29.000000  54000.000000
max    32.000000  62000.000000
Average HR Salary: 46000.0

In [6]:
df['Bonus'] = df['Salary'] * 0.20
print(df)

      Name  Age Department  Salary    Bonus
0    Alice   24         HR   45000   9000.0
1      Bob   27    Finance   54000  10800.0
2  Charlie   22         IT   50000  10000.0
3    Diana   32  Marketing   62000  12400.0
4      Eve   29         HR   47000   9400.0

In [11]:
filter_age = df[df['Age'].between(25, 30)]
filter_age

  Name  Age Department  Salary    Bonus
1  Bob   27    Finance   54000  10800.0
4  Eve   29         HR   47000   9400.0

In [17]:
avg_department = df.groupby("Department")["Salary"].mean()
avg_department

Department
Finance      54000.0
HR           46000.0
IT           50000.0
Marketing    62000.0
Name: Salary, dtype: float64

In [19]:
data_sort = df.sort_values("Salary",ascending=True)
data_sort.to_csv("data sort.csv")